## Creating DataFrames

In [1]:
import pandas as pd

### From Dictionary

In [24]:
dicti1 ={"Name":['Reshma Reghunath','Sreelekshmi K.S','Aswathi M.V','Reshma Chacko','Aiswarya George ','Doniya','Reshmi','Veena','Parvathy','RintoRaj','Joyal Joseph','Saneesh Mathew','Reneesh','Viswanth V','Adarsh Balan','Suraj S.B','Ananthakrishnan T','Sirajudheen T M','Vaisakh V V','Biben Johnson','Arun','Shaijal','Christy James','Farseen','Geo Babu','Rikhil','Anoop','Ashwin'],
         "Age":[22,28,23,25,23,22,31,26,24,25,25,32,27,26,27,32,24,26,23,25,25,21,21,24,24,21,33,25]
        ,"Genger":['Female','Female','Female','Female','Female','Female','Female','Female','Female','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male'],
         'Qualification':['BCA','MCA','BTECH','MSC','MSC','BTECH','MBA','BSC','BTECH','BTECH','BSC','BSC','BSC','BTECH','BTECH','BCOM','BTECH','M.COM','BBA','BTECH','MBA','BCA','BE','BCOM','BTECH','BTECH','BCA','nan'],
         'Place':['Pathanamthitta','Alappuzha','Kannur','Thrissur','Eranakulam','Idukki','Thiruvalla','Kozhikode','Kollam','Palakkadu','Pala','kasargod','Thrissur','Adoor','Kayamkulam','Kottarakara','Kollam','Malappuram','Malappuram','Kollam','Alappuzha','Malappuram','Wayanadu','Malappuram','Eranakulam','Wayanadu','Idukki','Kannur']
         }

In [25]:
df=pd.DataFrame(dicti1)

In [26]:
df

                 Name  Age  Genger Qualification           Place
0    Reshma Reghunath   22  Female           BCA  Pathanamthitta
1     Sreelekshmi K.S   28  Female           MCA       Alappuzha
2         Aswathi M.V   23  Female         BTECH          Kannur
3       Reshma Chacko   25  Female           MSC        Thrissur
4    Aiswarya George    23  Female           MSC      Eranakulam
5              Doniya   22  Female         BTECH          Idukki
6              Reshmi   31  Female           MBA      Thiruvalla
7               Veena   26  Female           BSC       Kozhikode
8            Parvathy   24  Female         BTECH          Kollam
9            RintoRaj   25    Male         BTECH       Palakkadu
10       Joyal Joseph   25    Male           BSC            Pala
11     Saneesh Mathew   32    Male           BSC        kasargod
12            Reneesh   27    Male           BSC        Thrissur
13         Viswanth V   26    Male         BTECH           Adoor
14       Adarsh Balan   27    Male         BTECH      Kayamkulam
15          Suraj S.B   32    Male          BCOM     Kottarakara
16  Ananthakrishnan T   24    Male         BTECH          Kollam
17    Sirajudheen T M   26    Male         M.COM      Malappuram
18        Vaisakh V V   23    Male           BBA      Malappuram
19      Biben Johnson   25    Male         BTECH          Kollam
20               Arun   25    Male           MBA       Alappuzha
21            Shaijal   21    Male           BCA      Malappuram
22      Christy James   21    Male            BE        Wayanadu
23            Farseen   24    Male          BCOM      Malappuram
24           Geo Babu   24    Male         BTECH      Eranakulam
25             Rikhil   21    Male         BTECH        Wayanadu
26              Anoop   33    Male           BCA          Idukki
27             Ashwin   25    Male           nan          Kannur

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           28 non-null     object
 1   Age            28 non-null     int64
 2   Genger         28 non-null     object
 3   Qualification  28 non-null     object
 4   Place          28 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

### DataFrame Using Lists:

In [27]:
Name = ['Reshma Reghunath','Sreelekshmi K.S','Aswathi M.V','Reshma Chacko','Aiswarya George ','Doniya','Reshmi','Veena','Parvathy','RintoRaj','Joyal Joseph','Saneesh Mathew','Reneesh','Viswanth V','Adarsh Balan','Suraj S.B','Ananthakrishnan T','Sirajudheen T M','Vaisakh V V','Biben Johnson','Arun','Shaijal','Christy James','Farseen','Geo Babu','Rikhil','Anoop','Ashwin']
Age =[22,28,23,25,23,22,31,26,24,25,25,32,27,26,27,32,24,26,23,25,25,21,21,24,24,21,25,25]
Gender =['Female','Female','Female','Female','Female','Female','Female','Female','Female','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male']
Qualification = ['BCA','MCA','BTECH','MSC','MSC','BTECH','MBA','BSC','BTECH','BTECH','BSC','BSC','BSC','BTECH','BTECH','BCOM','BTECH','MCOM','BBA','BTECH','MBA','BCA','BE','BCOM','BTECH','BTECH','BCA','nan']
Place = ['Pathanamthitta','Alappuzha','Kannur','Thrissur','Eranakulam','Idukki','Thiruvalla','Kozhikode','Kollam','Palakkadu','Pala','kasargod','Thrissur','Adoor','Kayamkulam','Kottarakara','Kollam','Malappuram','Malappuram','Kollam','Alappuzha','Malappuram','Wayanadu','Malappuram','Eranakulam','Wayanadu','Idukki','Kannur']

In [28]:
df1 = pd.DataFrame(list(zip(Name,Age,Gender,Qualification,Place)),columns=['Name','Age','Gender','Qualification','Place'])

In [29]:
df1

                 Name  Age  Gender Qualification           Place
0    Reshma Reghunath   22  Female           BCA  Pathanamthitta
1     Sreelekshmi K.S   28  Female           MCA       Alappuzha
2         Aswathi M.V   23  Female         BTECH          Kannur
3       Reshma Chacko   25  Female           MSC        Thrissur
4    Aiswarya George    23  Female           MSC      Eranakulam
5              Doniya   22  Female         BTECH          Idukki
6              Reshmi   31  Female           MBA      Thiruvalla
7               Veena   26  Female           BSC       Kozhikode
8            Parvathy   24  Female         BTECH          Kollam
9            RintoRaj   25    Male         BTECH       Palakkadu
10       Joyal Joseph   25    Male           BSC            Pala
11     Saneesh Mathew   32    Male           BSC        kasargod
12            Reneesh   27    Male           BSC        Thrissur
13         Viswanth V   26    Male         BTECH           Adoor
14       Adarsh Balan   27    Male         BTECH      Kayamkulam
15          Suraj S.B   32    Male          BCOM     Kottarakara
16  Ananthakrishnan T   24    Male         BTECH          Kollam
17    Sirajudheen T M   26    Male          MCOM      Malappuram
18        Vaisakh V V   23    Male           BBA      Malappuram
19      Biben Johnson   25    Male         BTECH          Kollam
20               Arun   25    Male           MBA       Alappuzha
21            Shaijal   21    Male           BCA      Malappuram
22      Christy James   21    Male            BE        Wayanadu
23            Farseen   24    Male          BCOM      Malappuram
24           Geo Babu   24    Male         BTECH      Eranakulam
25             Rikhil   21    Male         BTECH        Wayanadu
26              Anoop   25    Male           BCA          Idukki
27             Ashwin   25    Male           nan          Kannur

### DataFrame froms list of Dictionaries

In [56]:
lst=[
    {'Name':"Reshma Reghunath" , "Age": 22 ,"Gender": "Female" , "Qualification": "BCA" ,"Place" : "Pathanamthitta"},
    {"Name":"Sreelekshmi K.S","Age":28 ,"Gender": 'Female','Qualification': "MCA" ,"Place" : "Alappuzha"},
    {"Name":"Aswathi M.V","Age" :23 ,"Gender" :"Female","Qualification": "BTECH ", "Place":"Kannur"},
    {"Name":"Reshma Chacko","Age":25,"Gender": "Female" ,"Qualification":"MSc" ,"Place":"Thrissur"},
    {"Name":"Aiswarya George " ,"Age":23 ,"Gender":"Female","Qualification":"MSc","Place":"Eranakulam"},
    {"Name":" Doniya" ,"Age":22 ,"Gender":"Female","Qualification":"BTECH","Place":"Idukki"},
    {"Name":"Reshmi " ,"Age": 31,"Gender":"Female ","Qualification":"MBA ","Place":"Thrivalla "},
    {"Name":"Veena" ,"Age":26 ,"Gender":"Female","Qualification":" BSc","Place":"Kozhikode "},
    {"Name":"Parvathy " ,"Age":24 ,"Gender":"Female ","Qualification":" BTech","Place":"Kollam "},
    {"Name":"Rinto Raj " ,"Age":25 ,"Gender":" Male","Qualification":"BTech ","Place":"Palakkadu "},
    {"Name":"Joyal Joseph " ,"Age": 25,"Gender":" Male","Qualification":" BSc","Place":"Pala "},
    {"Name":" Saneesh Mathew" ,"Age":32 ,"Gender":"Male ","Qualification":" BSc","Place":"Kasargod "},
    {"Name":"Reneesh " ,"Age":27 ,"Gender":"Male ","Qualification":"BSc ","Place":"Thrissur"},
    {"Name":"Viswanth V " ,"Age": 26,"Gender":"Male ","Qualification":"BTech ","Place":" Adoor"},
    {"Name":"Adarsh Balan" ,"Age":27 ,"Gender":"Male","Qualification":"BTech ","Place":"Kayamkulam "},
    {"Name": "Suraj S.B","Age":32,"Gender":"Male","Qualification":"B.com","Place":"Kottarakara"},
    {"Name":'Ananthakrishnan T',"Age":24,"Gender":"Male","Qualification":"BTECH","Place":"Kollam"},
    {"Name":"Sirajudheen T M","Age":26,"Gender":"Male","Qualification":"MCOM","Place":"Malappuram"},
    {"Name":"Vaisakh V V","Age":23,"Gender":"Male","Qualification":"BBA","Place":"Malappuram"},
    {"Name":'Biben Johnson',"Age":25,"Gender":"Male","Qualification":"BTECH","Place":'Kollam'},
    {"Name":'Arun',"Age":25,"Gender":"Male","Qualification": "MBA","Place":'Alappuzha'},
    {"Name":"Shaijal","Age":21,"Gender":"Male","Qualification":"BCA","Place":'Malappuram'},
    {"Name":"Christy James","Age":21,"Gender":"Male","Qualification":"BE","Place":'Wayanadu'},
    {"Name":"Farseen","Age":24,"Gender":"Male","Qualification":"BCOM","Place":'Malappuram'},
    {"Name":"Geo Babu","Age":24,"Gender":"Male","Qualification":"BTECH","Place":'Eranakulam'},
    {"Name":"Rigil","Age":21,"Gender":"Male","Qualification":"BTECH","Place":'Wayanadu'},
    {"Name":"Anoop","Age":25,"Gender":'Male',"Qualification":"BCA","Place":'Idukki'},
    {"Name":"Ashwin","Age":25,"Gender":'Male',"Qualification":" ","Place":'Kannur'}
    ]

In [57]:
df2=pd.DataFrame(lst)

In [58]:
df2

                 Name  Age   Gender Qualification           Place
0    Reshma Reghunath   22   Female           BCA  Pathanamthitta
1     Sreelekshmi K.S   28   Female           MCA       Alappuzha
2         Aswathi M.V   23   Female        BTECH           Kannur
3       Reshma Chacko   25   Female           MSc        Thrissur
4    Aiswarya George    23   Female           MSc      Eranakulam
5              Doniya   22   Female         BTECH          Idukki
6             Reshmi    31  Female           MBA       Thrivalla
7               Veena   26   Female           BSc      Kozhikode
8           Parvathy    24  Female          BTech         Kollam
9          Rinto Raj    25     Male        BTech       Palakkadu
10      Joyal Joseph    25     Male           BSc           Pala
11     Saneesh Mathew   32    Male            BSc       Kasargod
12           Reneesh    27    Male           BSc         Thrissur
13        Viswanth V    26    Male         BTech            Adoor
14       Adarsh Balan   27     Male        BTech      Kayamkulam
15          Suraj S.B   32     Male         B.com     Kottarakara
16  Ananthakrishnan T   24     Male         BTECH          Kollam
17    Sirajudheen T M   26     Male          MCOM      Malappuram
18        Vaisakh V V   23     Male           BBA      Malappuram
19      Biben Johnson   25     Male         BTECH          Kollam
20               Arun   25     Male           MBA       Alappuzha
21            Shaijal   21     Male           BCA      Malappuram
22      Christy James   21     Male            BE        Wayanadu
23            Farseen   24     Male          BCOM      Malappuram
24           Geo Babu   24     Male         BTECH      Eranakulam
25              Rigil   21     Male         BTECH        Wayanadu
26              Anoop   25     Male           BCA          Idukki
27             Ashwin   25     Male                        Kannur

In [54]:
df2.shape

(28, 5)

In [60]:
df.isnull().sum()

Name             0
Age              0
Genger           0
Qualification    0
Place            0
dtype: int64